.chat {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
  min-width: 500px;
}

.chat_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #dddbd1;

  padding: 10px;
}

.chat_header_info {
  margin-left: 20px;
  flex: 1;
}

.chat_body {
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;

  padding: 30px;
  overflow-y: auto;
}

.chat_message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 30px;
}

.chat_receiver {
  margin-left: auto;
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #dcf8c6;
  margin-bottom: 30px;
}

.chat_name {
  color: blueviolet;
  font-size: small;
  font-weight: 700;
  text-transform: capitalize;
  position: absolute;
  top: -18px;
}

.chat_name_receiver {
  color: lightsalmon;
  font-size: small;
  font-weight: 700;
  text-transform: capitalize;
  position: absolute;
  top: -18px;
}

.chat_timestamp {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: xx-small;
}

.chat_footer {
  display: flex;
  align-items: center;
  background-color: lightgray;
  padding: 20px;
}

.chat_footer_input {
  margin: 0px 15px;
  display: flex;
  align-items: center;
  flex: 1;
  background-color: white;
  border-radius: 30px;
  padding: 0px 10px;
  height: 30px;
}

.chat_footer_input input {
  font-size: medium;
  width: 97%;
  margin-left: 5px;
  border: none;
  outline: none;
}
